a:link, a:visited { color: #be2d18; text-decoration: none; padding: 1px;}
a:hover, a:active { color: #fff; background: #be2d18; text-decoration: underline;}

body {
	background: #000;
	margin: 0 0;
  font-family: Arial, Helvetica, Verdana, sans-serif;
  font-size: 12px/1.5em
  line-height: 1.8em;
  letter-spacing: .2em;
	align: center;
}

.main {
	color: #fff;
	padding: 50px;
  background: #F05133 repeat-x;
  min-height: 490px;
}

.spacer {
  background: #272727;
  height: 5px;
}

.content {
	float: left;
	width: 42%;
	margin-left: 15px;
}

.title1 {
  color: #fff;
  font-weight: normal;
  font-size: 14px;
  float: left;
  text-transform: uppercase;
  text-shadow: #333 1px 1px 1px;
}

.title2 {
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: #333 1px 1px 1px;
}

.sub-title {
  font-style: italic;
  color: #be2d18;
  font-size: 10px;
  font-family: Georgia;
 
}

.contact {
  font-size: 11px;
}

.footer {
	font-family: Georgia;
	width: 60%;
	margin-left: 3%;
	margin-top: 30px;
	font-size: 12px;
	text-align: center;
	color: #686868;
	background: #fff
	text-shadow: #333 1px 1px 1px;
  letter-spacing: .1em;
}

.logo {
	margin-left: 40%;
}
